doctype html
html(lang='en')
  head
    meta(charset='utf8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Tatoo Salon
    link(rel='stylesheet', href='/assets/css/app.min.css')
  body
    include layouts/test.pug


    script(src="/assets/js/min/script.min.js")
